
@use '@angular/material' as mat;

html {
  height: 100%;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$rose-palette,
    ),
    typography: (
      brand-family: Inter,
      plain-family: Inter,
    ),
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --eclesys-primary: #0F2A44;
  --eclesys-primary-2: #143B63;
  --eclesys-bg: #F8FAFC;
  --eclesys-border: #E2E8F0;
}

