<div class="snackbar-content">
  <mat-icon class="snackbar-icon">{{ icon }}</mat-icon>

  <div class="snackbar-text">
    <div class="snackbar-title">{{ title }}</div>
    <div class="snackbar-message">{{ data.message }}</div>
  </div>

  @if (data.actionLabel) {
    <button mat-button class="snackbar-action" (click)="closeWithAction()">
      {{ data.actionLabel }}
    </button>
  } @else {
    <button mat-icon-button class="snackbar-close" (click)="closeWithAction()">
      <mat-icon>close</mat-icon>
    </button>
  }
</div>
